.kill {
    display: none;
}

.txt-orange {
    color:$orange;
}
.txt-red {
    color:$red;
}
.txt-green {
    color:$green;
}

.shrink {
    max-height: 0 !important;
    padding: 0 !important;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}