$red: #C81611;
$darkRed: #5F0402;
$lightRed: #F1ACAA;
$orange: #C86611;
$darkOrange: #5F2D02;
$lightOrange: #F1CBAA;
$turquoise: #0B7479;
$darkTurquoise: #01373A;
$lightTurquoise: #9CDBDE;
$green: #0E9E17;
$darkGreen: #024B06;
$lightGreen: #A2E7A7;