html {
 font-size: 62.5%;
}

* {
 box-sizing: border-box;
 hyphens: auto;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: $dark;
    color: white;
    font-family: 'Prince Body';
}

section {
    padding: 2rem 0;
    background-color: rgba($orange, 0.05);
}