h1 {
    font-size: 8rem;
    font-family: 'Prince Title';
    text-shadow: 0.3rem 0.3rem 0.7rem rgba(0,0,0,0.8);
    margin: 0;
    color: white;
}

h2 {
    margin: 0;
    font-size: 3rem;
    font-family: 'Prince Title';
}