@import './normalize';
@import './colors';
@import './elements';
@import './fonts';
@import './atomic';
@import './text';

@mixin tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
    min-width: 28rem;
    width: calc(50% - 4rem);
    height: 50vh;
    cursor: pointer;

    h4 {
        color: rgba(255, 255, 255, 1);
        font-family: 'Prince Title';
        font-size: 3rem;
        margin: 0;
        padding: 1rem;
        text-align: center;
        line-height: 4rem;
    }
}

@mixin tile-text {
    padding: 2rem;
    font-family: 'Prince Body';
    background-color: $orange;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2rem;
    font-size: 1.5rem;
    max-height: 20rem;
    overflow-y: scroll;
    transition: 0.3s;

    p {
        margin-top: 0;
    }
}

/* Reuseable classes */
.section-heading {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(0, 0, 0, 0.8);
    flex: 1 0 100%;

    p {
        font-size: 1.5rem;
        font-family: 'Prince Body';
        font-style: italic;
        color: rgba(0, 0, 0, 0.7);
    }
}

.announcement-banner {
    background-color: $red;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h4 {
        font-family: 'Prince Body';
        font-size: 2rem;
        color: white;
        font-weight: 400;
    }

    p {
        color: rgba(255, 255, 255, 0.85);
        font-family: 'Prince Body';
        line-height: 2rem;
        font-size: 1.5rem;
        font-style: italic;
        margin: 1rem 0;
    }

    a {
        padding: 1rem;
        background-color: $orange;
        color: white;
        margin: 1rem auto;
        box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
        font-family: 'Prince Body';
        max-width: 50%;
    }
}

/* Nav */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
    position: fixed;
    z-index: 5;
    transition: 0.3s;
    padding: 1rem;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-family: 'Prince Title';
    font-size: 1.7rem;
}

.nav-list {
    list-style: none;
    padding: 1rem;
    display: none;
    flex-direction: row;
    font-family: 'Prince Body';

    li {
        padding: 0 1rem 0 1rem;
    }
}

.nav-link {}

.nav-responsive {
    display: flex;
}

.nav-bar.scrolling {
    background-color: white;
    color: black;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

/* Header Home */
.header {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
    font-family: 'Prince Body';
    display: flex;

    &::before {
        background: url('../img/header-img.jpg') center/cover no-repeat;
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        z-index: 1;
    }
}

.header-box {
    z-index: 2;
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
    font-size: 3rem;
    color: $orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    text-align: center;

    svg {
        align-self: center;
    }
}

.header-details {
    font-family: 'Prince Body';
    font-size: 1.5rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    margin: auto 0 auto 0;
}

.header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    justify-content: center;

    a {
        padding: 1rem;
        font-size: 1.5rem;
        background: $green;
        display: flex;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s;
        box-shadow: 0.3rem 0.3rem 0.7rem rgba(0, 0, 0, 0.5);
        position: relative;
        margin: 1rem;
        flex: 1 0 15rem;

        span {
            opacity: 0;
            position: absolute;
            bottom: -100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            left: 50%;
            content: '';
            font-size: 1.5rem;
            transition: 0.3s;
            padding: 1rem;
            border-radius: 1rem;
            transform: translate(-50%, -100%);
            width: max-content;

        }

        &:hover {
            transform: scale(1.1);

            span {
                opacity: 1;
                transform: translate(-50%, 0%);

            }
        }

        &:first-child {
            z-index: 1;
        }

        &:nth-child(2) {
            z-index: 2;
        }

        &:nth-child(3) {
            z-index: 3;
        }

        &:nth-child(4) {
            z-index: 4;
        }

        svg {
            margin: auto;
        }
    }
}

/* Header Generic */
.header-container {
    background-color: $red;
}

.header-logo {
    padding: 4rem;
    text-align: center;

    h1 {
        font-size: 4rem;
    }

    p {
        font-family: 'Prince Body';
        font-style: italic;
        color: rgba(255, 255, 255, 0.85);
    }
}

.main-container {
    padding-top: 5rem;
}

/* Offers */

.offers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.offer {
    @include tile;

    h4 {
        background-color: $red;
    }
}

.offer-text {
    @include tile-text;
    background-color: $red;
}

.offer.buffet {
    background: url('../img/indian-buffet-service.jpg') center/cover no-repeat;
}

.offer.takeout {
    background: url('../img/takeout-offer.jpg') center/cover no-repeat;
}

.offer.collection {
    background: url('../img/curry-and-rice.jpg') center/cover no-repeat;
}

/* info section */
.info-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.info {
    @include tile;

    h4 {
        background-color: $orange;
    }
}


.info-text {
    @include tile-text;
}

.info.bar {
    background: url('../img/indian-bar.jpg') center/cover no-repeat;
}

.info.menu {
    background: url('../img/indian-food.jpg') center/cover no-repeat;
}
/* Hero */
.hero-image {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
    margin: 2rem 0;
    overflow: hidden;
    z-index: 3;
    display: block;
    padding: 2rem;

    &::before {
        background: url('../img/spices-generic-3.jpeg') center/cover no-repeat;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        opacity: 0.5;
        transition: 2s;
        z-index: 1;
    }

    &:hover {
        &::before {
            height: 110%;
            width: 110%;
        }
    }

}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-heading {
    margin: auto;
    color: white;
    z-index: 4;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.9);

    p {
        font-size: 1.5rem;
        font-style: italic;
        font-family: 'Prince Body';
        color:rgba(255, 255, 255, 0.8);
    }
}

/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem 1rem 1rem;
}

.service {
    @include tile;

    h4 {
        background-color: $red;
    }
}

.service-text {
    @include tile-text;
    background-color: $red;
}

.service-text.shrink {
    max-height: 0;
    padding: 0;
}

.service.buffet {
    background: url('../img/indian-buffet-service.jpg') center/cover no-repeat;
}

.service.takeout {
    background: url('../img/indian-takeout-service.jpg') center/cover no-repeat;
}

.service.catering {
    background: url('../img/indian-catering-service.jpg') center/cover no-repeat;
}

.service.alacarte {
    background: url('../img/indian-a-la-carte-service.jpeg') center/cover no-repeat;
}
/* footer */
.social-bar {
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;

    svg {
        margin: auto;
    }

    a {
        border-radius: 5px;
        width: 5rem;
        height: 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0.5rem;

        &[href*=twitter] {
            background-color: $twitter;
        }
        &[href*=facebook] {
            background-color: $facebook;
        }
        &[href*=google] {
            background-color: $google;
        }
        &[href*=tripadvisor] {
            background-color: $tripadvisor;
        }
        &[href*=contact] {
            background-color: $orange;
        }
        &[href*=youtube] {
            background-color: $youtube;
        }
    }
}

.footer-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem;
    font-size: 1.5rem;

    p, a {
        color: rgba(255, 255, 255, 0.8);
    }
}
.footer-address, .footer-hours, .footer-links {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    min-width: 25rem;
    margin: 1rem;

    p {
        margin: 0;
    }
}
.hours-container {
    display: flex;
}
.days-column {
    padding-right: 1rem;
}
.restaurant-info {
    font-size: 1.5rem;
}

.restaurant-map {
    iframe {
        max-width: 100%;
    }
}

.legal-links {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.credit {
    background-color: $darker;
    color: white;
    text-align: center;
    font-family: 'Prince Body';
    padding: 2rem;
    font-size: 1.5rem;

    p {
        margin: 0;
    }

    a {
        color: $green;
    }
}

@import './mediaQueries';