@import './normalize';
@import './colors';
@import './elements';
@import './fonts';
@import './atomic';
@import './text';

/* Nav */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0,0,0,0.3);
    background: linear-gradient(45deg, $red, $darkRed);
    color: white;
    font-size: 1.5rem;
}
.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-family: 'Prince Title';
    font-size: 1.7rem;
}
.nav-list {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    font-family: 'Prince Body';
     li {
         padding: 0 1rem 0 1rem;
     }
}
.nav-link {
}
.nav-responsive {
    display: none;
}
/* Header */
.header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: black;
    font-family: 'Prince Body';

    &::before {
        background: url('../img/header-img.jpg') center/cover no-repeat;
        top: 0; 
        left: 0;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        z-index: 1;
    }
}
.header-box {
    width: 40%;
    z-index: 2;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 6rem;
    color: $orange;
}
.header-details {
    font-family: 'Prince Body';
    font-size:2rem;
    font-style: italic;
    color: white;
}
.header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    justify-content: center;

    a {
        margin-right: -1rem;
        border: 0.2rem solid white;
        width: 6rem;
        height: 6rem;
        font-size: 2.5rem;
        border-radius: 50%;
        background: linear-gradient(45deg, $darkGreen, $green, $green, $lightGreen) bottom left/210% 110%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s;
        box-shadow: 0.3rem 0.3rem 0.7rem rgba(0,0,0,0.5);
        position: relative;
        span {
            opacity: 0;
            position: absolute;
            bottom: -100%;
            background-color: rgba(0,0,0,0.8);
            color: white;
            left: 50%;
            content:'';
            font-size: 1.5rem;
            transition: 0.3s;
            padding: 1rem;
            border-radius: 1rem;
            transform: translate(-50%, -100%);
            width: max-content;
            
        }
        &:hover{
            background-position: bottom right;
            transform: translateX(-1.5rem);
            span {
                opacity: 1;
                transform: translate(-50%, 0%);

            }
        }
        &:first-child {
            z-index:1;
        }
        &:nth-child(2) {
            z-index:2;
        }
        &:nth-child(3) {
            z-index:3;
        }
        &:nth-child(4) {
            z-index:4;
        }

        svg {
            margin: auto;
        }
    }
}
/* info section */
.info-wrapper {
    background: linear-gradient(-45deg, #EAEFF2, $lightRed);
}
.info-section {
    width: 100%;
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info-details {
    height: 50vh;
    max-width: 35vw;
    margin: auto -6rem auto auto;
    z-index: 2;
    background: linear-gradient(45deg, $red, $darkRed);
    padding: 2rem;
    color: white;
    box-shadow: 0.3rem 0.3rem 0.7rem rgba(0,0,0,0.3);
    font-size: 1.5rem;
    font-family: 'Prince Body';
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 4.5rem;
    }
}
.info-image {
    box-shadow: 0.3rem 0.3rem 0.7rem rgba(0,0,0,0.3);
    background: url('../img/curry-and-rice.jpg') center/cover no-repeat;
    width: 50vw;
    height: 70vh;
    min-height: 50vh;
}
.info-details.bar {
    margin: auto auto auto -6rem;
}
.info-image.bar {
    background: url('../img/indian-bar.jpg') center/cover no-repeat;
}
/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
}
.service {
    flex: 1 0 auto;
    min-width: 28rem;
    width: 50%;
    padding: 2rem;
    background-color: white;
    position: relative;
    height: 50vh;
}
.service-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
}
.service-image[data-value="buffet"] {
    background: url('../img/indian-buffet-service.jpg') center/cover no-repeat;
}
.service-image[data-value="takeout"] {
    background: url('../img/indian-takeout-service.jpg') center/cover no-repeat;
}
.service-image[data-value="catering"] {
    background: url('../img/indian-catering-service.jpg') center/cover no-repeat;
}
.service-image[data-value="alacarte"] {
    background: url('../img/indian-a-la-carte-service.jpeg') center/cover no-repeat;
}