@import './normalize';
@import './colors';
@import './elements';
@import './fonts';

/* Nav */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0,0,0,0.3);
    background: linear-gradient(45deg, $red, $darkRed);
    color: white;
    font-size: 1.5rem;
}
.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    font-family: 'Prince Title';
    font-size: 1.7rem;
}
.nav-list {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    font-family: 'Prince Body';
     li {
         padding: 0 1rem 0 1rem;
     }
}
.nav-link {

}
.nav-responsive {
    display: none;
}
/* Header */


/* menu/bar */
.menu-section, .bar-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: white;
    height: 50vh;
    .details {
        flex: 1 0;
        min-width: 50%;
        padding: 4rem;
    }

    .image {
        flex: 1 0;
        min-width: 50%;
        height: inherit;
        background: url('../img/curry-and-rice.jpg') center/cover no-repeat;
    }
}
/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
}
.service {
    flex: 1 0 auto;
    min-width: 28rem;
    width: 50%;
    padding: 2rem;
    background-color: white;
    position: relative;
    height: 50vh;
}
.service-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
}
.service-image[data-value="buffet"] {
    background: url('../img/indian-buffet-service.jpg') center/cover no-repeat;
}
.service-image[data-value="takeout"] {
    background: url('../img/indian-takeout-service.jpg') center/cover no-repeat;
}
.service-image[data-value="catering"] {
    background: url('../img/indian-catering-service.jpg') center/cover no-repeat;
}
.service-image[data-value="alacarte"] {
    background: url('../img/indian-a-la-carte-service.jpeg') center/cover no-repeat;
}