<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="description" content="We are a traditional, family run, Indian restaurant which serves curries from north and south India. We have a fully licensed bar and provide table service, takeout, catering and a lunch buffet.">
    <meta name="keywords" content="traditional curry, indian food, indian takeout, indian restaurant burlington, curry in burlington, traditional, indian, restaurant, takeout, india">
    <meta name="twitter:title" content="Prince of India | Traditional Indian Cuisine | About Us">
    <meta name="twitter:description" content="We are a traditional, family run, Indian restaurant which serves curries from north and south India. We have a fully licensed bar and provide table service, takeout, catering and a lunch buffet.">
    <meta property="og:title" content="Prince of India | Traditional Indian Cuisine | About Us">
    <meta property="og:url" content="https://princeofindia.restaurant/about">
    <meta property="og:description" content="We are a traditional, family run, Indian restaurant which serves curries from north and south India. We have a fully licensed bar and provide table service, takeout, catering and a lunch buffet.">
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script>
        $loadJS(["./assets/js/ES6/headerScripts-ES6.js"],["./assets/js/ES5/headerScripts-ES5.js"])
        function $loadJS(ES6, ES5) {
            if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
            else $useJS = ES5, $type = '', $defer = 'defer'
            for( var i = 0; i < $useJS.length; i++ ) {
                elem = document.createElement('script');
                elem.src = $useJS[i];
                elem.defer = $defer;
                document.head.appendChild(elem);
            }
        }
    </script>
    <link rel="icon" href="./assets/img/favicon.png">
    <link rel="stylesheet" href="./assets/fa/css/all.css">
    <link rel="stylesheet" href="./assets/css/princeofindia.css">
    <title>Prince of India | Traditional Indian Cuisine | About Us</title>
  </head>
  <body>
    <main id="main">
      <section id="offers" class="no-pad">
        <div class="txt-center pad-2rem bg-red txt-white btm-triangle-red pos-rel">
          <h2>About Us</h2>
          <p class="txt-2rem">Want to find out more about Prince of India? You're in the right place!</p>
        </div>
        <section id="ourMenu" class="no-pad flex">
            <div id="menuTxt" class="block bg-white">
                <h2>Family Run</h2>
                <p>Prince of India is a family run establishment which has been serving traditional Indian cuisine for over two decades.</p>
                <p>Our family started in Batala, Punjab, and now spans across three continents (America, Asia, Europe).</p>
                <p>Our priority is, and always has been, to provide the world with tasty and healthy food which encapsulates our proud heritage.</p>
                <p>All food served in our restaurants is pork and beef free, and combines a mix of secret family recipes with traditional Indian favourites.</p>
                <a href="./contact" title="Prince of India, contact us" class="button center-x margin-y-15rem bg-mustard">
                <i class="fas fa-envelope-square"></i>
                  Contact Us
                </a>
            </div>
            <div id="menuImg" class="block">
            </div>
        </section>
        <section id="ourBar" class="no-pad flex btm-triangle-grey-up pos-rel">
            <div id="barImg" class="block">
            </div>
            <div id="barTxt" class="block bg-white">
                <h2>International</h2>
                <p>We are proud to currently be operating out of three continents.</p>
                <p>We have restaurants in Germany (Frankfurt, Stuttgart, Mannheim), India (Batala) and Canada (Ontario).</p>
                <p>All of our branches provide the same high quality standard of traditional Indian food, mixed with our own secret family recipes.</p>
                <a href="./locations" title="Prince of India's international branches" class="button center-x margin-y-15rem bg-mustard">
                    <i class="fas fa-map-signs"></i>
                    Other Locations
                </a>
            </div>
        </section>
      </section>
    </main>
  </body>
</html>