<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="description" content="Use our booking form to reserve a table at our traditional Indian restaurant in Burlington, Ontario.">
    <meta name="keywords" content="traditional curry, indian food, indian takeout, indian restaurant burlington, curry in burlington, traditional, indian, restaurant, takeout, india">
    <meta name="twitter:title" content="Prince of India | Traditional Indian Cuisine | Reservations">
    <meta name="twitter:description" content="Use our booking form to reserve a table at our traditional Indian restaurant in Burlington, Ontario.">
    <meta property="og:title" content="Prince of India | Traditional Indian Cuisine | Reservations">
    <meta property="og:url" content="https://princeofindia.restaurant/contact">
    <meta property="og:description" content="Use our booking form to reserve a table at our traditional Indian restaurant in Burlington, Ontario.">
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script>
        $loadJS(["./assets/js/ES6/headerScripts-ES6.js", "./assets/js/ES6/contact-ES6.js"],["./assets/js/ES5/headerScripts-ES5.js", "./assets/js/ES5/contact-ES5.js"])
        function $loadJS(ES6, ES5) {
            if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
            else $useJS = ES5, $type = '', $defer = 'defer'
            for( var i = 0; i < $useJS.length; i++ ) {
                elem = document.createElement('script');
                elem.src = $useJS[i];
                elem.defer = $defer;
                document.head.appendChild(elem);
            }
        }
    </script>
    <link rel="icon" href="./assets/img/favicon.png">
    <link rel="stylesheet" href="./assets/fa/css/all.css">
    <link rel="stylesheet" href="./assets/css/princeofindia.css">
    <title>Prince of India | Traditional Indian Cuisine | Reservations</title>
  </head>
  <body>
    <main id="main">
      <section id="contact" class="no-pad">
        <div class="txt-center pad-2rem bg-red txt-white btm-triangle-red pos-rel">
          <h2>Book a Table</h2>
          <p class="txt-2rem">Use the form below to make a reservation. Alternatively, you can give us a call on: 905-333-1331</p>
        </div>
        <div class="flex flex-center form-class">
          <form class="bg-trans-black pad-4rem" id="contactForm" method="post" action="./assets/php/contact.php">
            <div class="loader kill hide"></div>
            <div id="form-response" class="kill hide bg-white">
            </div>
            <div id="formFields">
              <div id="userDetails" class="txt-2rem">
                <div class="w-50p flex-column margin-right-1rem">
                  <label for="firstName">
                    First Name
                  </label>
                    <input id="firstName" name="first-name" type="text" class="contact-input" required />
                  <label for="lastName">
                    Last Name
                  </label>
                    <input id="lastName" name="last-name" type="text" class="contact-input" required />
                </div>
                <div class="w-50p margin-bottom-1rem flex-column">
                  <label for="phone">Phone</label>
                  <input
                    id="phone"
                    name="phone" 
                    type="tel" 
                    class="contact-input" 
                    pattern="[0-9]{10,11}|[(]?[0-9]{3}[)]?[\s.-]?[(]?[0-9]{3}[)]?[\s.-]?[(]?[0-9]{4}[)]?"
                    placeholder="123-456-7890"
                    required 
                  />
                  <label for="email">Email</label>
                  <input id="email" name="email" type="email" class="contact-input" required />
                </div>
              </div>
              <div class="txt-2rem flex-row">
                <div class="w-50p flex-column margin-right-1rem">
                  <label for="time">
                    Time
                  </label>
                  <input 
                  id="time"
                  name="time" 
                  type="time" 
                  class="contact-input"
                  min="11:00"
                  max="23:30"
                  />
                </div>
                <div class="w-50p margin-bottom-1rem flex-column">
                  <label for="date">
                    Date
                  </label>
                  <input id="date" name="date" type="date" class="contact-input"/>
                </div>
              </div>
              <div class="txt-2rem flex-row">
                <div id='selectCont' class="w-100p margin-bottom-1rem">
                  <label for="guests">
                    Number of Guests
                    <select id="guests" class="" name="guests">
                      <option value="0">Select...</option>
                      <option value="1 - 2">One - Two</option>
                      <option value="2 - 4">Two - Four</option>
                      <option value="4 - 6">Four - Six</option>
                      <option value="6 - 8">Six - Eight</option>
                      <option value="8+">Over Eight</option>
                    </select>
                  </label>
                </div>
              </div>
              <div id="queryContent" class="txt-2rem flex-column">
                <label for="message">
                  Special Requests
                </label>
                  <textarea id="message" name="message" class="w-100p contact-input margin-bottom-none" required></textarea>
              </div>
              <input type="submit" name="submit" value="Submit" class="round-border flex-center w-100p margin-top-1rem"/>
              <div class="flex-row">
                <label for="mailList" class="kill">Join our mail list</label>
                <p class="txt-white txt-2rem flex-column flex-center pad-1rem">Would like to join our mailing list?</p>
                <input id="mailList" name="mailList" type="checkbox" />
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>