<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="description" content="Traditional Indian restaurant serving food from north and south India with a fully licensed bar. We provide table service, takeout, catering and a lunch buffet.">
    <meta name="keywords" content="traditional curry, indian food, indian takeout, indian restaurant burlington, curry in burlington, traditional, takeout, indian, restaurant, takeout, india">
    <meta name="twitter:title" content="Prince of India | Traditional Indian Cuisine | Home">
    <meta name="twitter:description" content="Traditional Indian restaurant serving food from north and south India with a fully licensed bar. We provide table service, takeout, catering and a lunch buffet.">
    <meta property="og:title" content="Prince of India | Traditional Indian Cuisine | Home">
    <meta property="og:url" content="https://princeofindia.restaurant">
    <meta property="og:description" content="Traditional Indian restaurant serving food from north and south India with a fully licensed bar. We provide table service, takeout, catering and a lunch buffet.">
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script>
      $loadJS(["./assets/js/ES6/headerScripts-ES6.js", "./assets/js/ES6/homeScripts-ES6.js"],["./assets/js/ES5/homeScripts-ES5.js", "./assets/js/ES5/headerScripts-ES5.js"])
      function $loadJS(ES6, ES5) {
          if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
          else $useJS = ES5, $type = '', $defer = 'defer'
          for( var i = 0; i < $useJS.length; i++ ) {
            elem = document.createElement('script');
            elem.src = $useJS[i];
            elem.defer = $defer;
            document.head.appendChild(elem);
          }
      }
    </script>
    <link rel="icon" href="./assets/img/favicon.png">
    <link rel="stylesheet" href="./assets/fa/css/all.css">
    <link rel="preload" as="font" crossorigin type="font/woff2" href="./assets/fa/webfonts/fa-regular-400.woff2"/>
    <link rel="preload" as="font" crossorigin type="font/woff2" href="./assets/fa/webfonts/fa-solid-900.woff2"/>
    <link rel="stylesheet" href="./assets/css/princeofindia.css">
    <title>Prince of India | Traditional Indian Cuisine | Home</title>
  </head>
  <body>
    <main id="main">
      <div id="quote" class="bg-red pos-rel pad-2rem">
        <div class="btm-triangle-red txt-white">
          <blockquote>
            <p>If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.</p>
            <div class="author">
              <p>J.R.R. Tolkien</p>
            </div>
          </blockquote>
        </div>
      </div>
      <section id="ourMenu" class="no-pad flex">
        <div id="menuTxt" class="block bg-white">
          <h2>Our Menu</h2>
          <p>We have a menu consisting of carefully selected traditional dishes which originate from North and South India. We have a wide range of poultry, lamb, fish and vegetarian curries, and do not serve any pork or beef.</p>
          <p>The exotic dishes on our menu include a mix of secret family recipes, which have been passed through multiple generations, and homeland comforts.
          <div class="row txt-center">
            <a href="/menu" title="Prince of India's menu section" class="txt-2rem center-x margin-y-15rem bg-mustard button">
              <i class="fas fa-book-open"></i>
              Menu
            </a>
          </div>
        </div>
        <div id="menuImg" class="block">
        </div>
      </section>
      <section id="ourBar" class="no-pad flex btm-triangle-red-up pos-rel">
        <div id="barImg" class="block">
        </div>
        <div id="barTxt" class="block bg-white">
          <h2>Our Bar</h2>
          <p>No true Indian restaurant is complete without a fully equipped bar to match. And we are no different. 
          <p>Our bar is fully licensed and is happy to provide you with a wide range of beers (on tap and bottled), wines, spirits, juices and mixers.</p> 
          <p>We also serve traditional Indian drinks such as Lassi (an Indian milkshake) and chai (tea), as well as bar snacks.</p>
        </div>
      </section>
      <section id="services" class="bg-black no-pad pos-rel">
        <div class="txt-center pad-2rem txt-white bg-red btm-triangle-red pos-rel">
          <h2>Our Services</h2>
        </div>
        <div class="no-pad flex services">
          <div class="service" id="buffet">
            <div class="service-image active" data-value="buffet">
              <p class="service-label">Buffet</p>
            </div>
            <div class="service-panel bg-white hide kill flex" data-value="buffet-text">
              <h3 class="india-font txt-3rem">Lunch Buffet</h3>
              <div class="txt-2rem">
                <p>
                  We off a traditional Indian lunch buffet which is sure to satisfy your taste buds and appetite.
                </p>
                <p>
                  Our daily lunch buffet costs just $12.99 per person and is unlimited. It features a generous selection of traditional curries and sides, as well as rice, dips and salad.
                </p>
                <p>
                  For more information about our Indian lunch buffet please see our <a class="service-link" href="/offers" title="Prince of India's special offers">special offers</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="service" id="takeOut">
            <div class="service-image active" data-value="takeout">
            <p class="service-label">Takeout</p>
            </div>
            <div class="service-panel bg-white hide kill flex" data-value="takeout-text">
              <h3 class="india-font txt-3rem">Takeout</h3>
              <div class="txt-2rem">
                <p>
                  If you would to eat your food in the comfort of your own home, that's no problem! We provide a full traditional Indian takeout service covering the local Burlington area. 
                </p>
                <p>
                  You can choose to have your food delivered by one of our takeout providers -- <a class="service-link" href="" title="Prince of India on " rel="noopener noreferrer" target="_blank">Skip The Dishes</a>, <a class="service-link" href="" title="Prince of India on " rel="noopener noreferrer" target="_blank">Door Dash</a> -- or collect it from our restaurant yourself -- we currently offer a <a class="service-link" href="/offers" title="Prince of India discounts">discount on collections</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="no-pad flex services">
          <div class="service" id="catering">
            <div class="service-image active" data-value="catering">
              <p class="service-label">Catering</p>
            </div>
            <div class="service-panel bg-white hide kill flex" data-value="catering-text">
                <h3 class="india-font txt-3rem">Catering</h3>
              <div class="txt-2rem">
                <p>
                  We are able to provide a traditional Indian catering service for any of your special occasions.
                </p>
                <p>
                  Our catering service will enable you to serve all your favorite Indian dishes to your guests, with the same high standard you would expect in our restaurant.
                </p>
                <p>
                  If you would like to bring the traditional flavours of our Indian cuisine to your event please contact us using our <a href="/contact" title="Contact Prince of India" class="service-link">contact form</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="service" id="dineIn">
            <div class="service-image active" data-value="alacarte">
              <p class="service-label">Dining</p>
            </div>
            <div class="service-panel bg-white hide kill flex" data-value="alacarte-text">
              <h3 class="india-font txt-3rem">Dining</h3>
              <div class="txt-2rem">
                <p>
                  Our traditional Indian restaurant serves a wide variety of freshly prepared and traditional North and South Indian dishes.
                </p>
                <p>
                  All dishes have been carefully selected using a mix of secret family recipes and national favorites.
                </p>
                <p>
                  We provide our guests with a truly traditional experience and cater to all allergies and we do not keep, or serve, any pork or beef on our premises.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>