<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="description" content="Take advantage of our generous special offers and enjoy our traditional Indian curry at a discounted price.">
    <meta name="keywords" content="prince of india, india, indian, special offers, takeout offers, buffet offers, food, indian food, takeout, dine in">
    <meta name="twitter:title" content="Prince of India, Burlington, Ontario | Special Offers">
    <meta name="twitter:description" content="Take advantage of our generous special offers and enjoy our traditional Indian curry at a discounted price.">
    <meta property="og:title" content="Prince of India, Burlington, Ontario | Special Offers">
    <meta property="og:url" content="https://princeofindia.restaurant/offers">
    <meta property="og:description" content="Take advantage of our generous special offers and enjoy our traditional Indian curry at a discounted price.">
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script>
        $loadJS(["./assets/js/ES6/headerScripts-ES6.js"],["./assets/js/ES5/headerScripts-ES5.js"])
        function $loadJS(ES6, ES5) {
            if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
            else $useJS = ES5, $type = '', $defer = 'defer'
            for( var i = 0; i < $useJS.length; i++ ) {
                elem = document.createElement('script');
                elem.src = $useJS[i];
                elem.defer = $defer;
                document.head.appendChild(elem);
            }
        }
    </script>
    <link rel="icon" href="./assets/img/favicon.png">
    <link rel="stylesheet" href="./assets/fa/css/all.css">
    <link rel="stylesheet" href="./assets/css/princeofindia.css">
    <title>Prince of India | Traditional Indian Cuisine | Special Offers</title>
  </head>
  <body>
    <main id="main">
      <section id="offers" class="no-pad">
        <div class="txt-center pad-2rem bg-red txt-white btm-triangle-red pos-rel">
          <h2>Special Offers</h2>
          <p class="txt-2rem">Have a look at our current special offers and signup to our mailing list. Members of our mailing list receive exclusive discounts which are not listed publicly.</p>
        </div>
        <div class="offer-row">
          <div id="buffetOffer" class="flex pad-4rem offer">
            <div class="offer-cont pad-2rem txt-center txt-white bg-trans-black center">
              <h3 class="india-font txt-4rem">Lunch Buffet</h3>
              <p class="txt-25rem">
                <strong>
                  Mon to Sat: 11:30 am to 14:30 pm
                </strong>
              </p>
              <p class="txt-25rem margin-bottom-1rem">
                <strong>
                  Sundays/Holidays: 12:00pm to 3:00pm
                </strong>
              </p>
              <p class="txt-2rem">
                Everyday we host an all you can eat lunch buffet for only $12.99 per person.
              </p>
              <p class="txt-2rem">
                Within our buffet you can expect to find a generous variety of our traditional curies, fresh salad, rice, dips and a type of traditional Indian bread.
              </p>
              <a href="./booking" class="button txt-2rem">
                <strong>
                  Reservations
                </strong>
              </a>
              <a href="./menu" class="button txt-2rem">
                <strong>
                  Menu
                </strong>
              </a>
            </div>
          </div>
          <div id="collectionOffer" class="flex pad-4rem offer">
            <div class="offer-cont pad-2rem txt-center txt-white bg-trans-black center">
              <h3 class="india-font txt-4rem">Takeout Offer</h3>
              <p class="txt-25rem margin-bottom-1rem">
                <strong>
                  10% Off Takeout Orders!
                </strong>
              </p>
              <p class="txt-2rem">
                We are currently offering a generous discount of 10% on takeout orders.
              </p>
              <p class="txt-2rem">
                In order to take advantage of this discount you simply need to give us a call and then collect your food from our restaurant.
              </p>
              <p class="txt-2rem">
                Please note that this discount does not apply to drinks.
              </p>
              <a href="tel:905-333-1331" class="button txt-2rem tel-link">
                <strong>
                  Call Us
                </strong>
              </a>
              <a href="./menu" class="button txt-2rem">
                <strong>
                  Menu
                </strong>
              </a>
            </div>
          </div>
        </div>
        <div class="offer-row">
          <div id="takeoutOffer" class="flex pad-4rem offer">
            <div class="offer-cont pad-2rem txt-center txt-white bg-trans-black center">
              <h3 class="india-font txt-4rem">Evening Takeout Offer</h3>
              <p class="txt-25rem margin-bottom-1rem">
                <strong>
                  15% Off Takeout Orders Between 3pm and 6pm!
                </strong>
              </p>
              <p class="txt-2rem">
                We are currently offering a generous discount of 15% on takeout orders placed between 3pm and 6pm.
              </p>
              <p class="txt-2rem">
                In order to take advantage of this discount you simply need to give us a call and then collect your food from our restaurant.
              </p>
              <p class="txt-2rem">
                Please note that this discount does not apply to drinks.
              </p>
              <a href="tel:905-333-1331" class="button txt-2rem tel-link">
                <strong>
                  Call Us
                </strong>
              </a>
              <a href="./menu" class="button txt-2rem">
                <strong>
                  Menu
                </strong>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
