<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="We are able to provide home delivery on orders within 10k of our restaurant. This means you can enjoy our traditional indian food without having to get off the couch. Except to answer the door.">
        <meta name="keywords" content="takeout burlington, indian takeout near me, indian, takeout, delivery, indian delivery, curry delivered, burlington, indian delivery near me, indian food near me">
        <meta name="twitter:title" content="Prince of India | Traditional Indian Cuisine | Takeout and Delivery">
        <meta name="twitter:description" content="We are able to provide home delivery on orders within 10k of our restaurant. This means you can enjoy our traditional indian food without having to get off the couch. Except to answer the door.">
        <meta property="og:title" content="Prince of India | Traditional Indian Cuisine | Takeout and Delivery">
        <meta property="og:url" content="https://princeofindia.restaurant/terms">
        <meta property="og:description" content="We are able to provide home delivery on orders within 10k of our restaurant. This means you can enjoy our traditional indian food without having to get off the couch. Except to answer the door.">
        <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
        <script>
            $loadJS(["./assets/js/ES6/headerScripts-ES6.js"],["./assets/js/ES5/headerScripts-ES5.js"])
            function $loadJS(ES6, ES5) {
                if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
                else $useJS = ES5, $type = '', $defer = 'defer'
                for( var i = 0; i < $useJS.length; i++ ) {
                    elem = document.createElement('script');
                    elem.src = $useJS[i];
                    elem.defer = $defer;
                    document.head.appendChild(elem);
                }
            }
        </script>
        <link rel="icon" href="./assets/img/favicon.png">
        <link rel="stylesheet" href="./assets/fa/css/all.css">
        <link rel="stylesheet" href="./assets/css/princeofindia.css">
        <title>Prince of India | Traditional Indian Cuisine | Takeout and Delivery</title>
    </head>
    <body>
        <main>
            <div class="txt-center pad-2rem bg-red txt-white btm-triangle-red pos-rel">
                <h2>Takeout and Delivery Service</h2>
                <p class="txt-15rem">Eat our delicious food in the comfort of your own home</p>
            </div>
            <section class="delivery-container pad-4rem">
                <div class="delivery-row">
                    <div class="txt-center bg-white pad-2rem flex-column">
                        <h3 class="txt-4rem pad-2rem bg-red txt-red center-x india-font txt-white margin-bottom-2rem">Delivery Service</h3>
                        <p class="txt-2rem">
                            If you live within 10km of our Burlington restaurant we would be happy to deliver our traditional Indian food direct to your door.
                        </p>
                        <p class="txt-2rem">
                            Customers wishing to use our delivery service need to place an order of at least $20, before 9:30pm.
                        </p>
                        <p class="txt-2rem margin-bottom-2rem">
                            Use the attached map to find our delivery prices. Homes in the green catchment area are charged $3.90 while those in the red area are charged $6.90.
                        </p>   
                        <a href="./menu" class="button txt-2rem bg-green">Menu</a>
                    </div>
                    <div class="flex-column">
                        <iframe style="border:none;" src="https://www.google.com/maps/d/u/0/embed?mid=1Wov8UpLKaRDvoWnV8Cqxp8dwkA4c1Jiy" width="100%" height="100%"></iframe>
                    </div>
                </div>
                <div class="flex-row bg-red pad-4rem no-border">
                    <p class="txt-3rem txt-white center-x txt-center">
                        <b>To place an order for takeout or delivery give us a call on: 905-333-1331</b>
                    </p>
                </div>
                <div class="flex-column bg-white pad-4rem text-center">
                    <h3 class="txt-4rem pad-2rem bg-red txt-red center india-font txt-white margin-bottom-2rem">
                        Takeout Collection
                    </h3>
                    <p class="txt-2rem txt-center">
                        If you would prefer to pop on down to our restaurant and collect your dinner yourself we are happy to cater to your request.
                    </p>
                    <p class="txt-2rem txt-center">
                        You will also be pleased to hear that we are offering generous discounts on takeout orders which are collected from the store. 
                    </p>
                    <p class="txt-2rem txt-center">
                        In order to take advantage of our special offers please visit our offers page on the button below.
                    </p>
                    <p class="txt-2rem txt-center margin-bottom-2rem">
                        Alternatively, head on over to our menu and then place an order. We look forward to seeing you!
                    </p>
                    <a href="./menu" class="button txt-2rem bg-green w-50p center-x txt-center">Menu</a>
                    <a href="./offers" class="button txt-2rem bg-blue w-50p center-x txt-center">Special Offers</a>
                <div>
            </section>
        </main>
    </body>
</html>
