<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="description" content="Please the terms and conditions to using the Prince of India website.">
        <meta name="keywords" content="privacy policy, cookie policy, legal information, terms of use, mailing list agreement">
        <meta name="twitter:title" content="Prince of India | Traditional Indian Cuisine | Terms of Use">
        <meta name="twitter:description" content="Please the terms and conditions to using the Prince of India website.">
        <meta property="og:title" content="Prince of India | Traditional Indian Cuisine | Terms of Use">
        <meta property="og:url" content="https://princeofindia.restaurant/terms">
        <meta property="og:description" content="Please read the terms and conditions which apply to the Prince of India website.">
        <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
        <script>
            $loadJS(["./assets/js/ES6/headerScripts-ES6.js"],["./assets/js/ES5/headerScripts-ES5.js"])
            function $loadJS(ES6, ES5) {
                if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
                else $useJS = ES5, $type = '', $defer = 'defer'
                for( var i = 0; i < $useJS.length; i++ ) {
                    elem = document.createElement('script');
                    elem.src = $useJS[i];
                    elem.defer = $defer;
                    document.head.appendChild(elem);
                }
            }
        </script>
        <link rel="icon" href="./assets/img/favicon.png">
        <link rel="stylesheet" href="./assets/fa/css/all.css">
        <link rel="stylesheet" href="./assets/css/princeofindia.css">
        <title>Prince of India | Traditional Indian Cuisine | Terms of Use</title>
    </head>
    <body>
        <main>
            <div class="txt-center pad-2rem bg-red txt-white btm-triangle-red pos-rel">
                <h2>Terms of Use</h2>
                <p class="txt-2rem">Have a read of our terms of use. Here you can find all information you need regarding cookies, privacy, mailing lists etc.</p>
            </div>
            <section class="terms-container">
                <div class="terms-box">
                    <div class="txt-center txt-white pad-2rem">
                        <h3 class="india-font">Your Privacy</h3>
                        <p class="txt-2rem">
                            When using our website you can rest assured that we are not collecting any personal data about you.
                        </p>
                        <p class="txt-2rem">
                            The only data which is collected when you use our site enables us to use the Google Analytics software. This software is solely used for the purpose of improving our website's performance.
                        </p>
                        <p class="txt-2rem">
                            If you are concerned about your privacy while browsing the internet we encourage you to try Brave Browser on the following link:
                        </p>     
                        <a href="https://brave.com/" title="Brave Browser, a privacy focused web browser" class="button txt-2rem" rel="noopener noreferrer">https://brave.com/</a>
                    </div>
                    <div class="txt-center txt-white pad-2rem">
                        <h3 class="india-font">Terms of Use</h3>
                        <p class="txt-2rem">
                            When using our website you agree to allow us to monitor your behaviour within our website. This simply means that we will be able to assess data metrics such as which pages perform better than others.
                        </p>
                        <p class="txt-2rem">
                            As mentioned above, we do not collect any personal data. The only data which is collected via this website is in order to use Google Analytics, is non personal.
                        </p>
                        <p class="txt-2rem">
                            When you contact us via any of the forms on this site, or via the phone numbers listed, you are agreeing to allow us to contact you in reply. 
                        </p>
                    </div>
                    <div class="txt-center txt-white pad-2rem">
                        <h3 class="india-font">Cookie Policy</h3>
                        <p class="txt-2rem">
                            Google Analytics uses cookies to monitor your experience when on this website. 
                        </p>
                        <p class="txt-2rem">
                            If you would like to find out more about what Google Analytics is, and does, you can read the following article: <a href="https://www.shivarweb.com/2977/what-does-google-analytics-do/" title="More information about Google Analytics" rel="noopener noreferrer" target="_blank" class="button txt-2rem">https://www.shivarweb.com/2977/what-does-google-analytics-do/</a>
                        </p>
                    </div>
                    <div class="txt-center txt-white pad-2rem">
                        <h3 class="india-font">Our Mailing List</h3>
                        <p class="txt-2rem">
                            If you signup to our mailing list you are agreeing to be contacted with exclusive deals regarding Prince of India, Burlington. 
                        </p>
                        <p class="txt-2rem">
                            We will only ever email you, at most, twice every calender month and you will be able to opt out at any point.
                        </p>
                        <p class="txt-2rem">
                            We will not share your contact information with anybody else.
                        </p>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
