
/* color styling */
.bg-blue {
  background-color: var(--ms-blue);
}
.bg-green {
  background-color: var(--ms-green);
}
.bg-white {
  background-color: var(--ms-white);
}
.bg-black {
  background-color: var(--ms-black);
}
.bg-grey {
  background-color: #252525;
}
.bg-red {
  background-color: var(--ms-red);
}
.bg-mustard {
  background-color: var(--ms-mustard);
}
.bg-trans-black {
  background-color: rgba(0,0,0,0.85);
}
.txt-white {
  color: var(--ms-white);
}