@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans+Condensed:300&display=swap');
@import url('./_text.css');
@import url('./_buttons.css');
@import url('./_colours.css');
@import url('./_navbar.css');
@import url('./_animations.css');
@import url('./_functional.css');
@import url('./_positioning.css');
/* Global stylings */
:root {
  --ms-black: rgba(20, 18, 18, 1);
  --ms-white: rgba(247,	255,	244, 1);
  --ms-red: rgba(165, 44, 48, 1);
  --ms-mustard: rgba(232, 173, 90, 1);
  --ms-brown: rgba(83, 15, 6, 1);
  --ms-lightRed: rgba(228, 168, 107, 1);
  --ms-green: rgba(137, 168, 72, 1);
  --ms-blue: rgba(83, 144, 170, 1);
  --ms-twitter: #1da1f2;
  --ms-facebook: #3b5998;
  --ms-youtube: #ff0000;
  --ms-tripadvisor: #00af87;
  --ms-google: #ea4335;
}
* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* Header text settings */
h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem 0rem;
  font-family: 'Kaushan Script', cursive;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0rem;
  font-family: 'Kaushan Script', cursive;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0rem;
}
/* Main page structure elements */
header {
  height: 100vh;
  height: calc(var(--vh, vh) * 100);
  width: 100vw;
  background-color: var(--ms-red);
  background-image: url('../img/header-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
main {
  width: 100vw;
  background-color: var(--ms-red);
}
footer {
  height: fit-content;
  width: 100vw;
  background-color: var(--ms-black);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* footer styling */
.footer-tile {
  margin: auto;
  padding: 1.5rem;
  color: var(--ms-white);
  max-width: 25%;
  display: block;
  height: fit-content;
}
.footer-row > a, .footer-tile > a {
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
}
.footer-row > a:hover::before, .footer-tile > a:hover::before {
  transform: scale(1.05);
  opacity: 1;
}
.footer-row > a::before, .footer-tile > a::before {
  width: fit-content;
  display: inline-block;
  color: var(--ms-white);
  padding:0.8rem 0.6rem 0.6rem 0.6rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 3px;
  transition: all 0.3s;
  opacity: 0.4;
  margin: 1.5rem 0.5rem;
}
.footer-row > a[href*=twitter]::before {
  content: '\f099';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  background-color: var(--ms-twitter);
}
.footer-row > a[href*=facebook]::before {
  content: '\f39e';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  background-color: var(--ms-facebook);
}
.footer-row > a[href*=youtube]::before {
  content: '\f167';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  background-color: var(--ms-youtube);
}
.footer-row > a[href*=contact]::before {
  content: '\f0e0';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  background-color: var(--ms-mustard);
}
.footer-row > a[href*=tripadvisor]::before {
  content: '\f262';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  background-color: var(--ms-tripadvisor);
}
.footer-row > a[href*=google]::before {
  content: '\f1a0';
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  background-color: var(--ms-google);
}
.footer-row > a[href*=skipthedishes]::before {
  background-image: url('../img/skip-the-dishes.png');
  content:'';
  width:6rem;
  height:6rem;
  background-size: cover;
  background-repeat: no-repeat; 
}
.footer-row > a[href*=ubereats]::before {
  background-image: url('../img/uber-eats.jpg');
  content:'';
  width:6rem;
  height:6rem;
  background-size: cover;
  background-repeat: no-repeat; 
}
.footer-row > a[href*=doordash]::before {
  background-image: url('../img/door-dash.jpg');
  content:'';
  width:6rem;
  height:6rem;
  background-size: cover;
  background-repeat: no-repeat; 
}
.footer-tile > ul {
  list-style: none;
}
/*location*/
.location-right {
  width:70%;
  display: inline-block;
  height: fit-content;
  margin: auto;
}
.location-left {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin: 0;
}
.location-row {
  margin: 1rem 0 2rem 0;
  display: flex;
}
/* Generic HTML elements */
input {
  height: 4rem;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  border: 1px solid var(--ms-blue);
  transition: all 0.4s;
  font-size: 2rem;
  display: inline-flex;
}
input:focus {
  outline: none;
}
textarea {
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid var(--ms-blue);
  transition: all 0.4s;
  font-size: 2rem;
  display: inline-flex;
  width: 100%;
}
textarea:focus {
  outline: none;
}
/* Header styling classes */
.header-box {
  text-align: center;
  align-self: center;
  width: fit-content;
  max-width: 50vw;
  margin: auto;
  padding: 3rem;
  color: var(--ms-white);
  background: rgba(0,0,0,0.9);
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  overflow: hidden;
  border: 1px solid;
}
.header-box > .arrow {
  display: block;
  content: '\f358';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top:80vh;
  top: calc(var(--vh, vh) * 80);
  left: calc(50% - 2.5rem);
  width: fit-content;
  margin: auto;
  font-size: 5rem;
  color: var(--ms-white);
  border-radius: 50%;
  background-color: var(--ms-red);
  opacity: 0.5;
  transition: all 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.header-box > .arrow:hover{
  opacity: 1;
  transform: scale(1.1);
}
.header-box >  p {
  font-size: 1.7rem;
}
.header-box > h1::before {
  content: '\f521';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: var(--ms-mustard);
}
/* Header styling for pages which aren't home */
#head {
  height: auto !important;
  background-color: var(--ms-white);
}
.header-logo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 6rem auto;
  color: var(--ms-white);
  padding: 2rem;
  height: fit-content;
  justify-content: center;
  text-align: center;
}
.header-logo::before {
  content: '\f521';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: var(--ms-mustard);
  position: absolute;
  display: block;
  left: calc(50% - 2.5rem);
  font-size: 5rem;
  z-index: 0;
  top: calc(0% - 2.5rem);
}

/* prince of india components */
#locationCont {
  width: 100%;
}
#locationDetails {
  padding: 2rem;
  width: 35vw;
  background-image: url('../img/prince-of-india-canada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#restaurantMap {
  width: 64vw;
}
#menuTxt, #barTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 50vh;
  min-height: calc(var(--vh, vh) * 50);
  background-image: url('../img/border-bg.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: -200%;
}
#barTxt {
  background-position: 300%;
  position: relative;
}
#menuTxt > h2, #barTxt > h2 {
  width: 100%;
  text-align: center;
}
#menuTxt > p, #barTxt > p {
  width: 100%;
  text-align: center;
  font-size:2rem;
  padding: 0rem 5rem;
}
#menuImg {
  display: inline-flex;
  background-image: url('../img/curry-and-rice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height:inherit;
}
#barImg {
  display: inline-flex;
  background-image: url('../img/indian-bar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height:inherit;
}
.service {
  display: inline-block;
  width: 50vw;
  height:50vh;
  height: calc(var(--vh, vh) * 50);
  text-align: center !important;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.8;
}
.service-link {
  transition: 0.4s;
  font-weight: 900;
}
.service-link:hover {
  color:var(--ms-red);
}
.service > .service-image {
  position: relative;
  height: 100%;
}
.service:hover {
  opacity: 1;
}
.service > .service-image[data-value=buffet] {
  background-image: url('../img/indian-buffet-service.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}
.service > .service-image[data-value=takeout] {
  background-image: url('../img/indian-takeout-service.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}
.service > .service-image[data-value=catering] {
  background-image: url('../img/indian-catering-service.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}
.service > .service-image[data-value=alacarte] {
  background-image: url('../img/indian-a-la-carte-service.jpeg');
  background-repeat: no-repeat !important;
  background-size: cover;
}
.service-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--ms-black);
  background-color: rgba(165, 44, 48,1);
  color: var(--ms-white);
  padding: 3%;
  font-size: 2.5rem;
  opacity: 1 !important;
  font-family: 'Kaushan Script', cursive;
}
.service-panel {
  height: 100%;
  width:100%;
  flex-direction: column;
  justify-content: center;
  padding:2rem;
}
.service > .service > .row > h2 {
  margin: 0;
}
#legal {
  background-color: #252525;
  color: var(--ms-white);
  text-align: center;
}
#legal > a, .footer-link {
  margin: 0 2rem;
  transition: 0.4s;
}
#legal > a:hover, .footer-link:hover {
  color: var(--ms-mustard);
}
label {
  padding: 0.5rem;
  background-color: var(--ms-blue);
  color: var(--ms-white);
  width: fit-content;
  border-radius: 5px 5px 0px 0px;
  display: block;
}
.contact-input {
  border-radius: 0px 5px 5px 5px;
  margin:0rem 0rem 1rem 0rem;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
}
.form-class {
  background-image:url('../img/spices-generic-3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding:8rem;
}
form {
  position: relative !important;
  transition: 0.4s;
}
#form-response {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  padding: 3rem;
  border: 5px solid var(--ms-green);
  margin: auto;
  display: block;
  height: fit-content;
  z-index: 9999;
}

/* offer components */
#offers {
  background-image: url('../img/spices-generic-2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.offer {
  width: 50vw;
  margin: auto;
}
.offer-cont {
  display: block;
  height: auto;
  box-shadow: 0px 0px 10px 0px black;
}
.offer-row {
  display: flex;
  flex-direction: row;
}
.tel-link {
  display: none;
}
/* custom select */
#selectCont {
  position: relative;
}
.selector {
  padding:1rem;
  border-radius: 0px 5px 5px 5px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.6);
  cursor: pointer;
  transition: background-color 0.3s;
}
.selector:hover {
  background-color: var(--ms-blue);
  color: white;
}
.cs-options {
  border-radius: 0px 0px 5px 5px;
  background-color: var(--ms-blue);
  border: 1px solid rgba(0,0,0,0.6);
  border-top: none;
  color: var(--ms-white);
  cursor: pointer;
  position: absolute;
  width: 100%;  
  z-index:100;
}
.cs-option {
  padding:1rem;
  transition: 0.3s;
}
.cs-option:hover {
  background-color: rgba(0,0,0,0.5);
}
.open {
  border-radius: 0px 5px 0px 0px !important;
}
price {
  float: right;
}
#userDetails {
  display: flex;
  flex-direction: row;
}
/* borders */
.round-border {
  border-radius: 5px !important;
}
.btm-triangle-red::after {
  content: '';
  height: 60px;
  position: absolute;
  top:100%;
  left:calc(50% - 30px);
  display: block;
  border-top: solid 30px var(--ms-red);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  z-index: 99;
}
.btm-triangle-red-up::after {
  content: '';
  height: 60px;
  position: absolute;
  bottom:0%;
  left:calc(50% - 30px);
  display: block;
  border-bottom: solid 30px var(--ms-red);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  z-index: 99;
}
.btm-triangle-grey-up::after {
  content: '';
  height: 60px;
  position: absolute;
  bottom:0%;
  left:calc(50% - 30px);
  display: block;
  border-bottom: solid 30px #252525;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  z-index: 99;
}
.top-triangle-grey-up::before {
  content: '';
  height: 60px;
  position: absolute;
  top:-90px;
  left:calc(50% - 30px);
  display: block;
  border-bottom: solid 30px #252525;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  z-index: 99;
}
.no-border {
  border: none !important;
}
/* menu page */
.order-menu-block {
  width: 65vw;
}
embed {
  width: 100%;
}
/* spices */
.spice-container {
  display:flex;
  flex-direction: row;
  height: 100%;
}
.spice-selector {
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px black;
}
.spice-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  height: 100%;
}
.spice-info {
  background-color: rgba(0,0,0,0.85);
  color: var(--ms-white);
  padding: 2rem;
  height: auto;
  box-shadow: 0px 0px 10px 0px black;
}
.spice-info > p {
  max-height: 30%;
  overflow-y: scroll;
}
.spice-section {
  padding:4rem;
  transition: 0.4s;
  height:55rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.spice-slide {
  height: auto;
  padding: 4rem;
}
.spice-name {
  padding: 2rem;
  font-size: 2rem;
  transition: 0.3s;
}
.spice-list {
  list-style: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0.7);
  overflow-y: scroll;
  color: var(--ms-white);
}
.spice-name:hover {
  background-color: rgba(0,0,0,0.7);
  color: var(--ms-white);
}
.spice-pills {
  margin-top: 1rem;
}
.spice-pill {
  padding: 0.5rem;
  display: inline-block;
  margin: 0.3rem;
  color: var(--ms-white);
  cursor: pointer;
  transition: 0.2s;
  font-size:1.3rem;
  opacity: 0.8;
}
.spice-pill:hover {
  opacity: 1;
}
/* location section */
.location-section {
  background-image: url('../img/curry-and-rice.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.location-container {
  display: flex;
  padding: 4rem;
  flex-wrap: wrap;
}
.branch-tile {
  display: inline-flex;
  width: calc(50% - 2rem);
  background-color: rgba(0,0,0,0.8);
  padding: 2rem;
  margin: 1rem;
  flex-direction: column;
  color: var(--ms-white);
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
}
.branch-tile > p {
  font-size: 2rem;
  margin-top: 1rem;
}
.branch-tile > a {
  margin: 2rem auto 2rem auto;
  font-size: 2rem;
}
/* terms & error */
.terms-container {
  background-image: url('../img/terms.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.error-container {
  background-image: url('../img/404-error.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.terms-box, .error-box {
  background-color: rgba(0,0,0,0.8);
  color: var(--ms-white);
  margin: 4rem auto 4rem auto;
  padding:4rem;
  width: 65vw;
}

/* delivery - takeout */
.delivery-container {
  background-image: url('../img/spices-generic-3.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.delivery-row {
  display:flex;
  flex-direction: row;
  height: 50%;
}
.delivery-container > .delivery-row > .flex-column {
  width: 50%;
}
.flex-column > iframe {
  min-height: 50vh;
}
/* Announcement banner */
.ann-banner {
  background-color: var(--ms-blue);
  padding: 1rem;
  font-size: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.ann-banner a {
  margin-left: 1rem;
  transition: 0.3s;
}
.ann-banner a:hover {
  margin-left: 1rem;
  color: var(--ms-mustard);
}
/* media */
@media (max-width: 990px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 920px) {
  nav {
    display: block;
    padding: 1rem;
    opacity: 1;
  }
  nav > ul > li {
    display: block;
  }
  nav > .nav-logo {
    width: fit-content;
    font-size: 2rem;
    height: fit-content;
    padding: 1rem;
    display: inline-block;
    position: unset;
  }
  nav > .nav-logo::after {
    display: none;
  }
  nav > ul {
    width: 100%;
    margin-top: 4rem;
    display: none;
  }
  nav > .nav-icon {
    display: inline-block;
    width: fit-content;
    font-size: 2rem;
    height: fit-content;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
    left: calc(100vw - 8rem);
  }
  .location-left, .location-right {
    width: 100%;
  }
}
@media (max-width: 820px) {
  html {
    font-size: 57.5%;
  }
  .header-box {
    max-width: 85vw;
  }
  .header-box > a[type=button] {
    margin: 1rem;
    padding: 1rem;
  }
  #contactForm {
    width: 75vw;
  }
  .spice-section {
    height: unset;
  }
  .spice-selector {
    width: 100%;
  }
  .spice-list {
    height: 20rem;
  }
  .spice-container {
    display: block;
  }
  .spice-slide {
    padding: unset;
  }
  .spice-details {
    width: 100%;
  }
  .delivery-row {
    flex-direction: column;
  }
  .delivery-container > .delivery-row > .flex-column {
    width: 100% !important;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 650px) {
  .offer {
    width: 100vw !important;
  }
  .offer-row {
    display: block;
  }
  .offer-cont {
    margin-top: 4rem !important;
  }
  footer > div {
    display: block  !important;
  }
  .order-menu-block {
    width: 90vw;
  }
  #restaurantMap {
    display: none;
  } 
  #locationDetails {
    width: 100vw !important;
  }
  blockquote::before {
    left:1rem;
  }
  blockquote > p::after {
    right: 1rem;
  }
  #buffetOffer, #collectionOffer, #takeoutOffer {
    width: 100%;
    min-height: 50vh;
    min-height: calc(var(--vh, vh) * 50);
  }
  #ourBar, #ourMenu {
    display: block !important;
  }
  #menuTxt, #barTxt, #menuImg {
    width: 100vw;
  }
  #menuImg {
    height: 50vh;
    height: calc(var(--vh, vh) * 50);
  }
  #barImg {
    display: none;
  }
  blockquote::before {
    left:0;
  }
  blockquote > p::after {
    right: 0;
  }
  .services {
    display: block;
  }
  .service {
    width: 100vw;
    height: 50vh;
    height: calc(var(--vh, vh) * 50);
    display: block;
  }
  #contactForm {
    width: 90vw;
  }
  #userDetails > .flex-column {
    width: 100% !important; 
  }
  #userDetails {
    display: block;
  }
  .footer-tile {
    width: 100%;
    max-width: fit-content;
  }
  .footer-row {
    text-align: center;
  }
}
@media (max-width: 580px) {
  .tel-link {
    display: inline-6block;
  }
  .ann-banner {
    display: none;
  }
}
@media (max-width: 450px) {
  #contactForm {
    width: 95vw;
  }
}