<div class="spice-section" style="background-image: url('');">
    <div class="spice-container">
        <div class="spice-selector">
            <ul id="spiceList" class="spice-list">
            </ul>
        </div>
        <div class="spice-details">
            <div class="spice-slide " id="" data-name="">
                <div class="spice-info">
                    <h3 class="india-font txt-3rem">
                    </h3>
                    <p>
                    </p>
                    <a href="" rel="noopener noreferrer" target="_blank" title="More about from Wikipedia"
                        class="button">
                    </a>
                    <div class="spice-pills">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>