<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="description" content="404 Error, it looks like we can't find what you're looking for.">
        <meta name="keywords" content="not found, 404, error">
        <meta name="twitter:title" content="Prince of India | Traditional Indian Cuisine | 404 Not Found">
        <meta name="twitter:description" content="404 Error, it looks like we can't find what you're looking for.">
        <meta property="og:title" content="Prince of India | Traditional Indian Cuisine | 404 Not Found">
        <meta property="og:url" content="https://princeofindia.restaurant/terms">
        <meta property="og:description" content="404 Error, it looks like we can't find what you're looking for.">
        <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
        <script>
            $loadJS(["/assets/js/ES6/headerScripts-ES6.js"],["/assets/js/ES5/headerScripts-ES5.js"])
            function $loadJS(ES6, ES5) {
                if( 'noModule' in document.createElement('script')) $useJS = ES6, $defer = true
                else $useJS = ES5, $type = '', $defer = 'defer'
                for( var i = 0; i < $useJS.length; i++ ) {
                    elem = document.createElement('script');
                    elem.src = $useJS[i];
                    elem.defer = $defer;
                    document.head.appendChild(elem);
                }
            }
        </script>
        <link rel="icon" href="/assets/img/favicon.png">
        <link rel="stylesheet" href="/assets/fa/css/all.css">
        <link rel="stylesheet" href="/assets/css/princeofindia.css">
        <title>Prince of India | Traditional Indian Cuisine | 404 Not Found</title>
    </head>
    <body>
        <main>
            <div class="txt-center pad-2rem bg-red txt-white btm-triangle-red pos-rel">
                <h2>404 Error</h2>
                <p class="txt-15rem">We do not seem to be able to locate the page that you have specified</p>
            </div>
            <section class="error-container">
                <div class="error-box">
                    <div class="txt-center txt-white pad-2rem">
                        <h3 class="india-font">Error</h3>
                        <p class="txt-2rem">
                            It appears that we cannot find the page you are looking for. This could be for a number of reasons.
                        </p>
                        <p class="txt-2rem">
                            Please check the spelling of the address which you have entered and try again. 
                        </p>
                        <p class="txt-2rem">
                            Alternatively, use the menu bar above to navigate through our website.
                        </p>     
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
