
:host {
    display: block;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 50rem;
    min-width: 28rem;
    min-height: 28rem;
    width: 90%;
    max-height: 80%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0,0,0,0.3);
    margin: 5rem auto;
}
form {
    flex: 1 0 100%;
}
.template {
    display:none;
}