<footer id="footer" class="footer">
    <div class="social-bar">
        <a href="https://twitter.com/princeofindiade" title="Prince of India on Twitter" rel="noopener noreferrer"
            target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCXj8MJtk0Q7ENevC8ZWlCew/" title="Prince of India on YouTube"
            rel="noopener noreferrer" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g154984-d14880135-Reviews-Prince_of_India-Burlington_Ontario.html"
            title="Prince of India on Trip Advisor" rel="noopener noreferrer" target="_blank">
            <i class="fab fa-tripadvisor"></i>
        </a>
        <a href="https://www.google.com/maps/place/Prince+of+India/@43.3308843,-79.8219824,17z/data=!3m1!4b1!4m5!3m4!1s0x882c9fbb53585f77:0x4aabc3bbfa661798!8m2!3d43.3308843!4d-79.8197937"
            title="Prince of India reviews on Google" rel="noopener noreferrer" target="_blank">
            <i class="fab fa-google"></i>
        </a>
        <a href="https://www.facebook.com/princeofindia.ca/" title="Prince of India on Facebook"
            rel="noopener noreferrer" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="/contact" title="Prince of India Contact Form" rel="noopener noreferrer" target="_blank">
            <i class="fas fa-envelope-open-text"></i>
        </a>
    </div>
    <div class="restaurant-map">
    </div>
    <div class="footer-wrapper">
        <div class="footer-address">
            <h5>Address</h5>
            <p>1235 Fairview St,</p>
            <p>Burlington,</p>
            <p>Ontario,</p>
            <p>L7S 2H9,</p>
            <p>Canada</p>
            <a href="tel:+1-905-333-1331" class="pone">
                +1-905-333-1331
            </a>
        </div>
        <div class="footer-hours">
            <h5>Hours</h5>
            <div class="hours-container">
                <div class="days-column">
                    <p>Monday:</p>
                    <p>Tuesday: </p>
                    <p>Wednesday: </p>
                    <p>Thursday: </p>
                    <p>Friday: </p>
                    <p>Saturday: </p>
                    <p>Sunday: </p>
                </div>
                <div class="hours-column">
                    <p>11:30am to 10:00pm</p>
                    <p>11:30am to 10:00pm</p>
                    <p>11:30am to 10:00pm</p>
                    <p>11:30am to 10:00pm</p>
                    <p>11:30am to 10:30pm</p>
                    <p>11:30am to 10:30pm</p>
                    <p>11:30am to 10:00pm</p>
                </div>
            </div>
        </div>
        <div class="footer-links">
            <h5>Sister Branches</h5>
            <a href="#" class="footer-link">Stuttgart, <em>Urban Strasse</em></a>
            <a href="#" class="footer-link">Frankfurt, <em>Baseler Strasse</em></a>
            <a href="#" class="footer-link">Mannheim, <em>Goethe Strasse</em></a>
            <a href="#" class="footer-link">Mannheim, <em>Schwetzinger Strasse</em></a>
            <a href="#" class="footer-link">Sunny Hotel, <em>Batala, India</em></a>
        </div>
    </div>
    <div class="legal-links">
        <a href="/terms" title="The terms of use which are applicable to this website"
            class="txt-15rem footer-link">Terms of Use</a> | <a href="/sitemap.xml" title="Prince of India's sitemap"
            class="txt-15rem footer-link">Sitemap</a>
    </div>
    <div class="credit">
        <p>Made with love by <a href="" title="" rel="noopener noreferrer">Making Stuffs</a></p>
    </div>
</footer>