<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="https://princeofindia.restaurant/assets/img/favicon.png" />
<meta property="og:site_name" content="Prince of India">
<meta property="og:type" content="restaurant">
<meta property="og:image" content="https://princeofindia.restaurant/assets/img/princeofindia.png">
<meta property="og:image:width" content="1432">
<meta property="og:image:height" content="411">
<meta name="twitter:image" content="https://princeofindia.restaurant/assets/img/princeofindia.png">
<meta name="twitter:image:width" content="1432">
<meta name="twitter:image:height" content="411">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@MakingStuffs">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149270466-1"></script>
<script>
  // Fix the mobile VH bug
  function mobileViewHeightFix () {
    var vhPixels = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', vhPixels + 'px');
    console.log(vhPixels);
  }
  // Make a debouncer which takes an interval and function to execute
  function debouncer (func, interval) {
    // Initialise the timeout variable
    var timeout;
    // Set the return value
    return function () {
      // Initalise the context and arguments
      var context = this, args = arguments;
      // Define non hoisted function to execute after X
      var later = function () {
        // Set the timeout to null
        timeout = null;
        // Execute the function passed with the context and arguments passed
        func.apply(context, args);
      };
      // Clear any timeout currently running
      clearTimeout(timeout);
      // Set a new timeout using the interval passed or default to 200 ms
      setTimeout(later, interval || 200);
    }
  }
  mobileViewHeightFix();
  window.addEventListener('resize', debouncer(mobileViewHeightFix));
  // Google Analytics scripts
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149270466-1');
</script>
