<header id="intro" class="header">
    <div class="header-box">
        <div class="header-details">
            <i class="fas fa-crown"></i>
            <h1>Prince of <span class="txt-orange">In</span>d<span class="txt-green">ia</span></h1>
            <p>Traditional Indian food with no beef or pork</p>
        </div>
        <div class="header-menu">
            <a href="./booking">
                <h2>Reservations</h2>
            </a>
            <a href="./menu">
                <h2>Our Menu</h2>
            </a>
            <a href="./offers">
                <h2> Special Offers</h2>
            </a>
            <a href="./takeout">
                <h2>Delivery & Takeout</h2>
            </a>
        </div>
    </div>
</header>