<header id="intro" class="header">
    <div class="header-box">
        <i class="fas fa-crown"></i>
        <h1>Prince of <span class="txt-orange">In</span>d<span class="txt-green">ia</span></h1>
        <div class="header-details">
            <p>Traditional Indian food with no beef or pork</p>
        </div>
        <div class="header-menu">
            <a href="./booking">
                <i class="fas fa-calendar-day"></i>
                <span>Reservations</span>
            </a>
            <a href="./menu">
                <i class="fas fa-book-open"></i>
                <span>Our Menu</span>
            </a>
            <a href="./booking">
                <i class="fas fa-tags"></i>
                <span>Special Offers</span>
            </a>
            <a href="./menu">
                <i class="fas fa-pepper-hot"></i>
                <span>Delivery & Takeout</span>
            </a>
        </div>
    </div>
</header>