<div id="popover" class="kill hide">
</div>
<div class="ann-banner">
    We now offer delivery within 10km of our restaurant for orders over $20! <a href="./takeout">More info</a>
</div>
<header id="intro">
    <div class="header-box">
    <h1>Prince of India</h1>
    <p class="txt-2rem">Traditional Indian restaurant with a fully licensed bar, in Burlington, Ontario. We serve authentic cuisine from North and South India, with no beef or pork.</p>
    <a href="./booking" class="button txt-2rem">
        <i class="fas fa-calendar-day"></i>
        Reservations
    </a>
    <a href="./menu" class="button txt-2rem">
        <i class="fas fa-book-open"></i>
        Menu
    </a>
    <p class="txt-2rem">1235 Fairview Street, Burlington, L7S 2H9 - 905-333-1331</p>
    <a class="arrow far fa-arrow-alt-circle-down" href="#main" title="An arrow button which scrolls down to the next section">
        <p class="kill">Arrow</p>
    </a>
    </div>
</header>