<nav id="topNav">
    <div id="logo" class="nav-logo">
        <a href="/" class="india-font">Prince of India</a>
    </div>
    <div class="nav-icon">
        <i class="fas fa-bars"></i>
    </div>
    <ul id="ulNav">
        <li class="nav-link"><a href="" title=""></a></li>
    </ul>
</nav>