<% const links = JSON.parse(include("../../assets/json/nav.json")); %>
<nav class="nav-bar">
    <div class="nav-logo">
        <a href="/" class="india-font">Prince of India</a>
    </div>
    <ul class="nav-list">
        <% links.navLinks.forEach(link => { %>
            <li><a title="<%= link.title %>" href="<%= link.href %>" class="nav-link"><%= link.text %></a></li>
        <% }); %>
    </ul>
    <div class="nav-responsive">
        <i class="fas fa-bars"></i>
    </div>
</nav>