@font-face {
    font-family: 'Prince Title';
    src: url('../../webfonts/KaushanScript-Regular.ttf');
}
@font-face {
    font-family: 'Prince Body';
    src: url('../../webfonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Prince Body';
    font-weight: 900;
    src: url('../../webfonts/OpenSans-Bold.ttf');
}