@import './fonts';

:host(:not(.active)) {
    display: none;
}
.wrapper {
    padding: 2rem;
    font-family: 'Prince Body';
}

h3 {
    text-align: center;
    font-family: 'Prince Title';
    font-size: 2.5rem;
    text-transform: capitalize;
}